{
    "tabWidth": 4,
    "printWidth": 140,
    "singleQuote": true,
    "trailingComma": "all",
    "overrides": [
        {
            "files": "*.yml",
            "options": {
                "tabWidth": 2,
                "singleQuote": false
            }
        }
    ]
}
